{
  "semi": false,
  "arrowParens": "always",
  "singleQuote": true,
  "tabWidth": 2,
  "importOrder": ["^react$", "<THIRD_PARTY_MODULES>" ,"^@mui/(.*)$", "@/components/(.*)$", "^@/core/(.*)$", "^@/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
}