$black: #000000;
$white: #ffffff;
$base-background: #13151a;
//$sidebar-background: #353a4b;
$sidebar-background: #cde;
$column-background: #2c2f36;
//$background-primary: #252834;
$background-primary: #ffffff;
//$background-secondary: #1E212A;
$background-secondary: #ffffff;
$success-green: #79bd9a !default; // Padua
$error-red: #df405a !default; // Cerise
$warning-red: #ff5050 !default; // Sunset Orange
$gold-star: #ca8f04 !default; // Dark Goldenrod
//$classic-base-color: #282c37; // Midnight Express
$classic-base-color: #ffffff;
//$classic-primary-color: #4d5666; // Echo Blue
$classic-primary-color: #000000;
$classic-secondary-color: #d9e1e8; // Pattens Blue
$classic-highlight-color: #2b90d9; // Summer Sky
$primary-text-color: $white;
$column-margin: 3px;
$sidebar-padding: 10px;

@mixin avatar-radius() {
    border-radius: 4px;
    background: transparent no-repeat;
    background-position: 50%;
    background-clip: padding-box;
}

@mixin avatar-size($size:48px) {
    width: $size;
    height: $size;
    background-size: $size $size;
}

.invisible {
    font-size: 0;
    line-height: 0;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;

    img,
    svg {
        margin: 0 !important;
        border: 0 !important;
        padding: 0 !important;
        width: 0 !important;
        height: 0 !important;
    }
}

.ellipsis {
    &::after {
        content: "…";
    }
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}

.column {
    height: 100vh;
    margin-top: $column-margin;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: $column-margin;
    //position: relative;
}

.sidebar {
    width: 280px;
    padding: 0;
    margin: $column-margin;
    color: $primary-text-color;
    background-color: $sidebar-background;

    a {
        color: $classic-secondary-color;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    .box {
        padding: $sidebar-padding;
    }
}

.logobox {
    h1 {
        margin: 0;
        padding: 0;
    }
}

.search-box {
    .title {
        padding-left: $sidebar-padding;
    }

    .form {
        display: flex;
        width: 100%;
    }

    input {
        box-sizing: border-box;
        height: 30px;
        flex-grow: 1;
    }

    button {
        flex-basis: 10px;
    }
}


.column-header {
    background-color: $sidebar-background;
    box-sizing: border-box;
    height: 40px;
    padding: 12px 0px 12px 20px;
    font-size: 16px;
    color: $white;
    width: 500px;

    .icon {
        margin-right: 10px;
    }

    .wrapper {
        display: flex;
        vertical-align: middle;
    }

    .column-title {
        display: inline-flex;
        flex-grow: 1;
    }

    .right-menu {
        display: inline-flex;
        text-align: right;
        flex-basis: 10px;
        cursor: pointer;
    }
}

.scrollable {
    position: absolute;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    overflow-y: scroll;
    //height: 100vh;
}

.timeline {
    width: 500px;

    //margin: 0;
    //padding: 0;
    color: $primary-text-color;
    background-color: $background-secondary;
}

.status {
    position: relative;
    background-color: $classic-base-color;
    padding: 5px;
    /*border-bottom: 1px solid $sidebar-background; */

    .avatar-wrapper {
        margin-left: 12px;
        margin-right: 12px;
        height: 48px;
        left: 0px;
        position: absolute;
        top: 10px;
        width: 48px;

        img {
            @include avatar-radius();
            @include avatar-size();
        }
    }

    .footer {
        width: 100%;
        text-align: right;
    }

    .timestamp {
        color: #aaa;
    }

    .name {
        display: flex;
        justify-content: 'center';

        .acct {
            margin-left: 5px;
            color: $classic-primary-color;
        }

        .lock {
            font-size: 12px;
            color: #404000;
        }
    }

    .content {
        margin-left: 70px;

        a {
            color: inherit; //$classic-secondary-color;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .attachments {
        margin: 0;
        padding: 0;

        img {
            width: 100%;
            margin: 0;
            padding: 0;
        }

        a {
            margin: 0;
            padding: 0;
        }
    }
}

.emojione {
    font-size: inherit;
    vertical-align: middle;
    object-fit: contain;
    margin: -.2ex .15em .2ex;
    width: 16px;
    height: 16px;

    img {
        width: auto;
    }
}


.searchArea {
    margin: 5px 0;
}

.red {
    color: #c00;
}

.green {
    color: #080;
}

.selected {
    background-color: #ffeeee !important;
}