body {
  background-color: #f1f1f1;
}

.container {
  margin: 5px;
}

.App-link {
  color: #61dafb;
}

.tootSelector {
  overflow: hidden;
  overflow-y: scroll;
}

.searchArea {
  margin: 5px 0;
}

.red {
  color: #c00;
}

.green {
  color: #080;
}